@import 'mixins';

.searchArea a, thead a{
  color: rgb(75, 92, 103);
  &:hover {
    color: rgb(126, 186, 39);
  }
}
.table-striped{
  margin-top: 7px;
  border-collapse: separate;
  border-top: 1px solid #bbb;
  @include border-radius(3px 3px 0 0);
}

thead {
  //white-space: nowrap;
  // background-color: #cce3a7;

  tr:nth-child(1) th {
    @include linearGradient(#cce3a7,#B9D986);
    padding-top: 5px;
    padding-bottom: 2px;
    &:first-child {
      //border-top-left-radius: 5px;
      @include border-radius(3px 0 0 0);
    }
    &:last-child {
      // border-top-right-radius: 5px;
      @include border-radius(0 3px 0 0);
    }
  }
  tr:nth-child(n+1) th {
    &:first-child {
      border-left: 1px solid #bbb;
    }
    &:last-child {
      border-right: 1px solid #bbb;
    }
  }
  tr:nth-last-child(1) th {
    @include linearGradient(#B9D986, #cce3a7);
    white-space: nowrap;
    padding-top: 0px;
    border: none;
    border-bottom: 1px solid #bbb;
    &:first-child {
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      white-space: pre-wrap;
      border-bottom-right-radius: 3px;
    }
  }
}

tbody tr:first-child td{
  border-top-style: none;
}

/*Filterbreite anpassen, ohne: von chosen festgelegt */
.js-stools-field-filter {
  max-width: 200px;
  select{
    width: auto;
  }
}
