@import 'mixins';
.searchArea {
  background-color: #cce3a7;
  padding: 5px;
  border: {
    right: 1px solid rgb(75, 92, 103);
    top: 1px solid rgb(75, 92, 103);
    left: 1px solid rgb(75, 92, 103);
  }
  @include border-radius(10px 10px 0 0);
}

.searchArea a, thead a{
  color: rgb(75, 92, 103);
  &:hover {
    color: rgb(126, 186, 39);
  }
}
.table-striped{
  border-collapse: separate; }

thead {
  background-color: #cce3a7;
  padding: 5px;
  tr:nth-child(n+1) th {
    &:first-child {
      border-left: 1px solid rgb(75, 92, 103);
    }
    &:last-child {
      border-right: 1px solid rgb(75, 92, 103);
    }
  }
  tr:nth-last-child(1) th {
    border: none;
    border-bottom: 1px solid rgb(75, 92, 103);
    &:first-child {
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-bottom-right-radius: 10px;
    }
  }
}

tbody tr:first-child td{   //=row0
  border-top-style: none;
}